@font-face {
  font-family: noken;
  src: url(../assets/fonts/nokenmedium.otf);
}
@font-face {
  font-family: medium;
  src: url(../assets/fonts/nokenItalic.otf);
}
@font-face {
  font-family: semiBold;
  src: url(../assets/fonts/nockenSemiBold.otf);
}
@font-face {
  font-family: clock;
  src: url(../assets/fonts/CLOCK.ttf);
}
:root {
  --color: #ffca2b;
}
main {
  overflow: auto !important;
  background-color: #0d0c0c !important;
}
a {
  -webkit-text-stroke: 0.1px rgb(0, 0, 0) !important;
  color: #000000 !important;
}
.desktop--nav,
.mobile--nav {
  background-color: #f6f6f6 !important;
}
.event--section {
  background-color: #f6f6f6 !important;
  width: 100%;
  margin-top: 110px;
}
.card--area {
  margin-top: 150px !important;
}
footer a {
  color: var(--color) !important;
}
.user--code {
  background-color: var(--color);
  padding: 14px 30px;
  text-transform: uppercase;
}
.desktop--nav span {
  display: flex;
  align-items: center;
}
.event--top-line h1 {
  top: 1% !important;
}
