@font-face {
    font-family: noken;
    src: url(../assets/fonts/nokenmedium.otf);
}
@font-face {
    font-family: medium;
    src: url(../assets/fonts/nokenItalic.otf);
}
@font-face {
    font-family: semiBold;
    src: url(../assets/fonts/nockenSemiBold.otf);
}
@font-face {
    font-family: clock;
    src: url(../assets/fonts/CLOCK.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: var(--main);
    text-decoration: none;
}
:root {
    --main: #ffca2b;
    --secondary: #000;
    --other: #ff1010;
    --third: #2a4fdb;
}
body{
    font-family: noken;
    overflow-x: hidden;
}
.bg--img{
    filter: brightness(45%);
}
/*main*/
.event--heading{
    font-size: 3rem;
}
.question--area{
    width: 100%;
}
.question--area > span {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin-block: 30px;
    border: 1px solid rgba(242, 190, 34, 0.32);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    /*box-shadow: 2px 4px 18px rgba(255, 255, 255, 0.4);*/
}
.question--area p{
    text-transform: lowercase;
    line-height: 24px;
}