@font-face {
  font-family: noken;
  src: url(../assets/fonts/nokenmedium.otf);
}
@font-face {
  font-family: medium;
  src: url(../assets/fonts/nokenItalic.otf);
}
@font-face {
  font-family: semiBold;
  src: url(../assets/fonts/nockenSemiBold.otf);
}
@font-face {
  font-family: clock;
  src: url(../assets/fonts/CLOCK.ttf);
}
a {
  color: var(--main);
  text-decoration: none;
}
.line1 {
  position: absolute;
  bottom: -26px;
  z-index: 999;
  width: 103%;
  margin-inline: -30px;
}
.hidden {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: noken;
}
:root {
  --main: #ffca2b;
  --secondary: #000;
  --other: #ff1010;
  --third: #2a4fdb;
}
html {
  overflow-x: hidden;
}
body {
  font-family: noken;
  background-color: #2a4fdb;
  color: var(--main);
  overflow-x: hidden;
}
.bottom--line {
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: rotate(180deg);
}
nav {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 0;
  z-index: 999;
  background-color: var(--third);
}
nav img {
  width: 200px;
}
nav a {
  font-size: 20px;
  letter-spacing: 3px;
}
.main--menuPage {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: var(--main);
  transform: translateY(-130%);
  transition: transform 0.4s;
}
.menu--close-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 10px;
}
.main--menuPage a {
  color: #000;
  font-size: 2vw;
}
.main--menuPage a:hover {
  color: var(--third);
}
.menuPage--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
  align-items: center;
}
.logo--img {
  width: 200px;
}
.nav--links {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav a:nth-child(4) {
  color: transparent;
  -webkit-text-stroke: 1px var(--main);
}
.nav--btn {
  background-color: transparent;
  border: 0;
  width: 50px;
  position: relative;
}
.nav--btn img {
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-inline: 50px;
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 100px;
  /*height: 100vh;*/
}
form h2 {
  font-size: 2.4rem;
  color: #fff;
}
form div {
  display: flex;
  align-items: center;
  gap: 100px;
}
form span label {
  text-transform: uppercase;
}
form span {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
form span input {
  /* width: 50vw; */
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 0.2px solid var(--main);
}
form label,
form input {
  font-size: 1.2rem;
  padding: 14px 0 14px 0;
  color: #ffca2b;
}
input[type="file"]::-webkit-file-upload-button {
  padding: 4px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--main);
  color: var(--main);
}
form input:focus {
  outline: 2px solid var(--main);
}
#usrGender {
  padding: 14px 30px;
  background-color: transparent;
  border: 2px solid var(--main);
  font-size: 18px;
  color: var(--main);
}
#usrGender:focus {
  outline: none;
}
option {
  background-color: #000;
  padding: 14px 30px;
}
.submit--btn {
  padding: 10px 30px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid var(--main);
  color: var(--main);
  transition: 0.4s;
  cursor: pointer;
}
.submit--btn:hover {
  background-color: #ffca2b;
  color: #000;
  cursor: pointer;
}

/* MENU START */
.menuPage {
  /* display: none; */
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: var(--main);
}
.menu--close-btn {
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.menuPage a {
  color: #000;
  font-size: 2vw;
}
.menuPage--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
  align-items: center;
}
.logo--img {
  width: 200px;
}
/* MENU END */
.register--link a {
  white-space: nowrap;
  color: var(--other) !important;
}
/*RESPONSIVE*/
@media screen and (max-width: 991px){
  form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  main{
    padding-top: 100px !important;
  }
  .main--menuPage a {
    font-size: 3vw;
  }
}
@media screen and (max-width: 850px){
  form h2{
    font-size: 2rem;
  }
  form label, form input{
    font-size: 1rem;
  }
}
@media screen and (max-width: 760px){
  .menuPage--content {
    grid-template-columns: repeat(3, 200px);
  }
  .menuPage--content img {
    display: none;
  }
  .menuPage--content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menuPage--content a {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 650px) {
  form span{
    flex-direction: column;
    gap: 0;
  }
  form{
    position: absolute;
    top: 10%;
  }
  form div{
    gap: 0;
  }
}
@media screen and (max-width: 450px){
  form h2{
    font-size: 1.7rem;
  }
  main{
    margin-inline: 14px;
  }
  form span input{
    width: 90vw;
  }
}