@media screen and (max-width: 1250px) {
  .card--area {
    grid-template-columns: repeat(2, 1fr);
  }
  .event--top-line h1 {
    top: 1%;
  }
}
@media (max-width: 1150px) {
  aside {
    right: -100px !important;
  }
  .timer {
    left: 60%;
  }
  .timer h1 {
    font-size: 3vw;
  }
  .about--left-content button {
    margin-top: 50px;
  }
  .about--left-content {
    gap: 10px;
  }
  .line1 {
    bottom: -20px;
  }
}
@media screen and (max-width: 1050px) {
  .timer h1 {
    font-size: 2.5vw;
  }
  .about--content {
    grid-template-columns: 90% 10%;
  }
}
@media (max-width: 991px) {
  .desktop--nav {
    display: none;
  }
  .mobile--nav {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    position: fixed;
    z-index: 999;
    background-color: #000;
  }
  .mobile--nav div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .mobile--nav div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .mobile--nav a {
    font-size: 1rem !important;
  }
  .mobile--nav .menu--btn {
    height: 40px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 999999;
  }
  .menu--btn img {
    width: 100%;
    height: 100%;
  }
  .menuPage {
    display: block;
    transform: translateX(120%);
  }
  .nav--links {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  aside {
    display: none;
  }
  .timer {
    left: 75%;
  }
  .menuPage .nav--links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .event--section {
    overflow: hidden;
  }
  .hero--section video {
    width: 100%;
  }
  .about--right-content img {
    width: 120%;
  }
  .mic--btn {
    left: 10%;
  }
  .main--menuPage a {
    font-size: 3vw;
  }
  .footer--content {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
@media screen and (max-width: 850px) {
  .about--left-content p {
    font-size: 18px;
  }
  .about--bg-img {
    top: 50%;
    transform: translateY(-50%);
  }
  .card--area {
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .event--top-line h1 {
    top: 6%;
  }
  .explore--section button {
    transform: translate(20%, 200%);
  }
  .explore--section span img {
    width: 40vw;
  }
  .timer {
    left: 70%;
  }
  .timer h1 {
    font-size: 4vw;
  }
  .about--content {
    grid-template-columns: 100% 0%;
  }
  .about--right-content {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .explore--section button {
    transform: translate(10%, 200%);
  }
  .card--area {
    gap: 20px;
    margin-inline: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .menuPage--content {
    grid-template-columns: repeat(3, 200px);
  }
  .about--left-content p {
    font-size: 16px;
  }
  .event--top-line h1 {
    top: 0.65%;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 715px) {
  .menuCloseBtn img {
    width: 65%;
  }
  .menuPage .nav--links {
    font-size: 4vw;
  }
  .menuPage {
    width: 300px;
    height: 55vh;
  }
  .mic--btn {
    left: 14%;
  }
  .line2 img {
    width: 180%;
  }
  .explore--section span {
    display: none;
  }
  .timer h1 {
    font-size: 6vw;
  }
  .timer {
    top: 50%;
    left: 50%;
  }
  .about--page {
    margin-top: 30px;
  }
  .menuPage--content img {
    display: none;
  }
  .menuPage--content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menuPage--content a {
    font-size: 2.4rem;
  }
  .contacts div {
    grid-template-columns: 1fr;
  }
  .copyright {
    bottom: 60px;
  }
  .social--links {
    left: 50px;
  }
  footer {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 560px) {
  .event--top-line h1 {
    font-size: 2.6rem;
    left: 34%;
  }
  .mobile--nav span {
    gap: 20px;
  }
  .mobile--nav {
    gap: 20px;
  }
}

@media screen and (max-width: 460px) {
  .about--left-content button {
    margin-top: 100px;
  }
  .mobile--nav div a {
    font-size: 0.7rem !important;
  }
  .mobile--nav div:nth-child(2) {
    gap: 14px;
  }
}

@media screen and (max-width: 380px) {
  .event--top-line h1 {
    left: 24%;
  }
}
