@font-face {
  font-family: noken;
  src: url(../assets/fonts/nokenmedium.otf);
}
@font-face {
  font-family: medium;
  src: url(../assets/fonts/nokenItalic.otf);
}
@font-face {
  font-family: semiBold;
  src: url(../assets/fonts/nockenSemiBold.otf);
}
@font-face {
  font-family: clock;
  src: url(../assets/fonts/CLOCK.ttf);
}
html {
  width: 100vw;
  overflow-x: hidden;
}
button:focus {
  outline: none;
}
::selection {
  background-color: var(--secondary);
  color: var(--main);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: noken;
}
h1:hover,
a:hover {
  text-shadow: red -3px 0, cyan 3px 0;
}
body {
  overflow-x: hidden;
}
:root {
  --main: #ffca2b;
  --secondary: #000;
  --other: #ff1010;
  --third: #2a4fdb;
}
main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
a {
  color: var(--main);
  text-decoration: none;
}
/* MENU START */
.main--menuPage {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: var(--main);
  transform: translateY(-130%);
  transition: transform 0.4s;
}
.menu--close-btn {
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.main--menuPage a {
  color: #000;
  font-size: 2vw;
}
.main--menuPage a:hover {
  color: var(--third);
}
.menuPage--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
  align-items: center;
}
.logo--img {
  width: 200px;
}
.menuPage {
  clip-path: polygon(
    13% 0%,
    100% 0,
    100% 94%,
    86% 94%,
    80% 100%,
    10% 100%,
    0 94%,
    0 70%,
    10% 65%,
    10% 45%,
    0 38%,
    0 7%
  );
  border: 5px solid var(--main);
  background-color: #fff;
  width: 400px;
  height: 70vh;
  position: fixed;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: none;
  transition: transform 0.4s;
}
.menuPage .nav--links {
  flex-direction: column;
  font-size: 3vw;
}
.menuCloseBtn {
  width: 80px;
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.menuCloseBtn img {
  width: 100%;
}
.mobile--nav {
  display: none;
  flex-direction: row;
  z-index: 999;
  background-color: #000;
}
.desktop--nav {
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: #000;
}
.menu--btn,
.main--MenuBtn {
  width: 60px;
  background-color: transparent;
  border: 0px;
}
.menu--btn img,
.main--MenuBtn img {
  width: 100%;
}
nav {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 200px;
}
nav a {
  font-size: 20px;
  letter-spacing: 3px;
}
.nav--links {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav a:nth-child(4) {
  color: transparent;
  -webkit-text-stroke: 1px var(--main);
}
/* LINE START */
.line1 {
  position: absolute;
  bottom: -26px;
  z-index: 999;
  width: 103%;
  margin-inline: -30px;
}
.line2 {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}
.line2 img {
  width: 100%;
}
/* LINE END */
body {
  background-color: #000;
}
.hero--section {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  margin-top: 75px;
}
.hero--section video {
  width: 85vw;
  height: 40vh;
  object-fit: cover;
  position: absolute;
  z-index: 100;
}
.mic--btn {
  position: absolute;
  top: 46%;
  left: 4%;
  transform: translate(-50%, -50%);
  z-index: 500;
  width: 100%;
  background-color: transparent;
  border: 0px;
  padding: 30px 30px;
}
.mic--btn img {
  width: 100%;
}
.hero--section-aside-image {
  position: absolute;
  right: 0;
  z-index: 555 !important;
}
.hero--section-aside-image:hover > img {
  animation: pulse;
}
@keyframes pulse {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.08;
  }
}
.hero--section-aside-image img {
  position: relative;
}
.hero--loop {
  color: var(--secondary);
  display: flex;
  white-space: nowrap;
  padding: 25px 10px;
  gap: 20px;
  background-color: var(--main);
  position: relative;
}
.hero--loop span {
  animation: il 165s linear infinite;
  font-family: semiBold;
}
@keyframes il {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.hero--loop h1 {
  font-family: semiBold !important;
}
.hero--loop h1:nth-child(2) {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-text-stroke: 1px #0000002b;
}
.explore--section {
  width: 100%;
  height: 35vh;
  position: relative;
}
.explore--section span {
  position: relative;
}
.explore--section span img {
  position: absolute;
  left: 0;
  border-right: 3px solid var(--main);
}
.explore--section button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 250%);
  padding: 22px 24px;
  font-size: 18px;
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  white-space: nowrap;
}
.timer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: var(--other);
  letter-spacing: 6px;
}
.date--left {
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  background-color: var(--main);
  z-index: 9999;
}
/* .time {
  top: 65%;
  letter-spacing: 0px;
}
.date {
  top: 85%;
  letter-spacing: 0px;
  color: var(--main);
} */
.timer h1 {
  display: flex;
  flex-direction: row;
  font-size: 4vw;
  font-family: clock;
}
.about--page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.about--bg-img {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(30%) blur(6px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 35vh);
}
.about--bg-img img {
  object-fit: contain;
}
.about--content {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 55;
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
}
.about--left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  padding-inline: 50px;
}
.about--left-content b {
  color: var(--other);
}
.about--left-content h1 {
  font-size: 4rem;
  color: var(--main);
}
.about--left-content p {
  font-size: 24px;
  text-align: justify;
}
.about--right-content img {
  position: relative;
}
.about--left-content button {
  position: absolute;
  top: 75%;
  left: 50px;
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  padding: 14px 34px;
  font-size: 18px;
  transition: 0.4s;
  cursor: pointer;
}
.about--left-content button:hover {
  background-color: var(--main);
  color: #000;
  cursor: pointer;
}
/* EVENT START */
.event--section {
  position: relative;
  width: 100%;
  /* height: 150vh; */
  background-color: var(--main);
}
.event--top-line {
  display: flex;
}
.event--top-line img,
.event--top-line h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.event--top-line h1 {
  left: 44%;
  top: 2%;
  font-size: 4vw;
  transform: translateY(-50%);
}
/* EVENT END */
.card--area {
  margin-top: 100px;
  gap: 40px;
  margin-inline: 50px;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
/*  */
/* Customizing the scrollbar track */
::-webkit-scrollbar {
  /* width: 0px; Set the width of the scrollbar */
  display: none;
  /* height: 7px; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff10107a;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; /* Set the color of the scrollbar handle */
  border-radius: 20px;
}
/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--other);
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--main); /* Set the color of the scrollbar track */
}
/* Handle on drag */
::-webkit-scrollbar-thumb:vertical:active {
  background: #ff10104b;
}

/*  */

.cards {
  filter: drop-shadow(0px 0px 0px #101010);
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../assets/images/cardbg.svg);
  height: 550px;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.cards:hover {
  filter: drop-shadow(2px 4px 6px #101010);
}
.cards h1 {
  color: var(--main);
  z-index: 100;
  position: absolute;
  top: 0;
  font-size: 21px;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.card--img-area {
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 16%);
  overflow: hidden;
  height: 240px;
}
.card--img-area img {
  width: 100%;
  margin-top: -60px;
}
.cards span {
  position: relative;
  margin: 10px 10px 0px 10px;
}
.cards p {
  color: #fff;
  position: absolute;
  font-size: 14px;
}
.card--btn {
  position: absolute;
  bottom: 0px;
}
.card--btn button {
  padding: 12px 22px;
  font-size: 18px;
  color: var(--main);
  background-color: transparent;
  border: 2px solid var(--main);
  position: absolute;
  right: 20%;
  top: 120px;
  cursor: pointer;
}
footer {
  position: relative;
  background-color: var(--secondary);
  padding-inline: 50px;
  padding-bottom: 140px;
}
footer a {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer img {
  width: 100%;
}
.main--footer {
  width: 80%;
  height: 70vh;
}
.maker--logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.maker--logo span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maker--logo img {
  width: 60px;
}
.maker--logo img:nth-child(2) {
  width: 140px;
}
.gdsc--logo {
  width: 500px;
  height: 100px;
}
.footer--content {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer--content .links,
.footer--content .contacts,
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.contacts {
  gap: 24px !important;
}
.contacts div {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}
.footer--content h1,
h2,
p {
  color: var(--main);
}
.footer--content a {
  text-transform: uppercase;
  font-size: 1rem;
}
.footer--content .mail {
  text-transform: lowercase;
}
.contacts span {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts span h2 {
  font-size: 18px;
}
.contacts span p {
  font-size: 12px;
}
.contacts span a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.contacts img {
  width: 20px;
}
.social--links {
  position: absolute;
  bottom: 60px;
  right: 100px;
  display: flex;
  gap: 20px;
}
.social--links img {
  width: 30px;
}
.address {
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.address img {
  width: 20px;
}
.copyright {
  position: absolute;
  bottom: 60px;
}
