@font-face {
  font-family: nocken;
  src: url("nokenmedium.15fa2255.otf");
}

@font-face {
  font-family: nockenSemiBold;
  src: url("nockenSemiBold.06e3e668.otf");
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (width <= 1024px) {
  html {
    font-size: 56.25%;
  }
}

@media (width >= 1920px) {
  html {
    font-size: 75%;
  }
}

@media (width <= 768px) {
  html {
    font-size: 50%;
  }
}

body {
  color: #f2f2f2;
  scroll-behavior: smooth;
  background-color: #0d0c0c;
  font-family: nocken;
  position: relative;
}

body a {
  color: #f2f2f2;
}

nav {
  z-index: 999;
  background-color: #0d0c0c;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 6rem);
  height: 1rem;
  padding: 4rem;
  display: flex;
  position: fixed;
}

nav .nav__logo-container {
  text-decoration: none;
}

@media (width <= 768px) {
  nav .nav__logo-container img {
    width: 20rem;
  }
}

nav .nav__logo-container p {
  font-size: 1.5rem;
}

nav .nav__menu-container {
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  display: flex;
}

nav .nav__menu-container img {
  cursor: pointer;
}

@media (width <= 768px) {
  nav .nav__menu-container img {
    width: 5rem;
  }

  nav {
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }
}

@media (width <= 1920px) {
  nav {
    width: 100%;
  }
}

.btn-register {
  background: #f2be22;
  border: none;
  padding: 2rem 3rem;
  font-family: nockenSemiBold;
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  bottom: -5%;
  left: 42%;
  transform: translate(-5%, -50%);
}

@media (width <= 768px) {
  .btn-register {
    padding: 2rem 3rem;
    left: 30%;
  }
}

.nav__lowerBoder {
  width: 100%;
  position: absolute;
  bottom: -3rem;
  left: 0;
}

@media (width >= 1920px) {
  .nav__lowerBoder {
    bottom: -3.1rem;
  }
}

@media (width <= 1919px) and (width >= 1024px) {
  .nav__lowerBoder {
    bottom: -2.6rem;
  }
}

@media (width <= 1024px) {
  .nav__lowerBoder {
    width: 100%;
    bottom: -2rem;
  }
}

@media (width <= 768px) {
  .nav__lowerBoder {
    width: 100rem;
  }
}

#hero-main {
  width: 100vw;
  height: 100%;
  position: relative;
}

.hero {
  position: relative;
}

@media (width <= 768px) {
  .hero {
    height: 100%;
  }
}

.hero__button--unmute {
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  left: 1rem;
}

.hero__container--top {
  background-color: #0d0c0c;
  width: 100%;
  height: 50rem;
  position: relative;
}

@media (width <= 768px) {
  .hero__container--top {
    width: 100%;
    height: 50rem;
  }
}

.hero__container--top video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width <= 768px) {
  .hero__container--top video {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.hero__container-bottom {
  border-bottom: 1rem solid #f2be22;
  display: flex;
}

@media (width <= 768px) {
  .hero__container-bottom {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.hero__container__links {
  background-color: #0d0c0c;
  border-right: 2px solid #f2be22;
  width: 33.33%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.hero__container__links a {
  color: #f2f2f2;
}

@media (width <= 768px) {
  .hero__container__links {
    border: none;
    width: 100%;
  }
}

.hero__container__links h3 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width <= 768px) {
  .hero__container__links h3 {
    color: #f2be22;
    font-size: 4rem;
  }
}

.hero__container__links:hover h3 {
  color: #f2be22;
  font-size: 5rem;
}

.hero__container__links img {
  object-fit: cover;
  filter: grayscale();
  cursor: pointer;
  width: 100%;
  transition: all .3s;
}

@media (width <= 768px) {
  .hero__container__links img {
    filter: blur();
    width: 100%;
  }
}

.hero__container__links img:hover {
  filter: grayscale(0);
}

.hero__marquee {
  text-align: center;
  background-color: #f2be22;
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
}

.hero__marquee p {
  color: #0d0c0c;
  text-wrap: nowrap;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem;
  animation: 20s linear infinite marquee;
  position: absolute;
  transform: translateX(100%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.menu__popup {
  z-index: 1003;
  background-color: #f2be22;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

@media (width <= 768px) {
  .menu__popup {
    min-height: 100vh;
    position: fixed;
  }
}

.menu__popup__nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width <= 768px) {
  .menu__popup__logo {
    width: 20rem;
  }
}

.menu__popup__close {
  aspect-ratio: 1;
  cursor: pointer;
  width: 5rem;
}

@media (width <= 768px) {
  .menu__popup__close {
    aspect-ratio: 1;
    width: 2.5rem;
  }
}

.menu__popup__lowerBorder {
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.menu__popup__content {
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  position: relative;
}

.menu__popup__content a {
  color: #0d0c0c;
  cursor: pointer;
  font-size: 5rem;
}

@media (width <= 1024px) {
  .menu__popup__content a {
    font-size: 3rem;
  }
}

.menu__popup__content--1 {
  text-align: center;
  flex-direction: column;
  gap: 30rem;
  display: flex;
}

@media (width <= 768px) {
  .menu__popup__content--1 {
    display: none;
  }
}

.menu__popup__content--2 {
  text-align: center;
  gap: 60rem;
  display: flex;
  position: absolute;
}

@media (width <= 768px) {
  .menu__popup__content--2 {
    display: none;
  }
}

.menu__popup__content--3 {
  display: none;
}

@media (width <= 768px) {
  .menu__popup__content--3 {
    text-align: center;
    flex-direction: column;
    gap: 5rem;
    display: flex;
  }
}

footer {
  color: #f2be22;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #f2f2f2;
  width: 100vw;
  height: 50vh;
  padding-top: 15rem;
  overflow: scroll;
}

@media (width <= 768px) {
  footer {
    height: 25vh;
    padding-top: 10rem;
  }
}

footer .footer__link__container {
  -webkit-user-select: none;
  user-select: none;
  justify-content: space-around;
  align-items: center;
  width: 200vw;
  list-style: none;
  display: flex;
}

footer .footer__link__container a {
  color: #0d0c0c;
  font-size: 10rem;
  text-decoration: none;
}

@media (width <= 768px) {
  footer .footer__link__container a {
    font-size: 3.5rem;
  }
}

.footer__bottom {
  grid-template-rows: [row-start-1] 1fr[row-end-1 row-start-2] 15rem[row-end-2];
  grid-template-columns: [col-start-1] 50rem[col-end-1 col-start-2] 1fr[col-end-2];
  column-gap: 3rem;
  width: 100vw;
  height: 50vh;
  padding: 3rem;
  display: grid;
}

@media (width <= 768px) {
  .footer__bottom {
    grid-template-rows: [row-start-1] 1fr[row-end-1 row-start-2] 1fr[row-end-2 row-start-3] 1fr[row-end-3];
    grid-template-columns: [col-start-1] 1fr[col-end-1];
    row-gap: 3rem;
  }
}

.footer__bottom__link {
  border-bottom: 1px solid #f2f2f233;
  padding: 2rem;
}

.footer__bottom__links {
  border: 2px solid #f2f2f233;
  border-radius: 2rem;
  list-style: none;
}

.footer__bottom__links li {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.footer__bottom__links li a {
  text-decoration: none;
}

.footer__bottom__links li details ul {
  list-style: none;
}

.footer__bottom__links li details summary {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding-bottom: 1rem;
}

.footer__bottom__links li a {
  cursor: pointer;
  font-size: 2rem;
}

.footer__bottom__contact {
  background-color: #f9a600;
  border-radius: 2rem;
  flex-direction: column;
  grid-area: row-start-1 / col-start-1 / row-end-1 / col-end-1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
}

@media (width <= 768px) {
  .footer__bottom__contact {
    grid-area: row-start-1 / col-start-1 / row-end-1 / col-end-1;
  }
}

.footer__bottom__contact .footer__contact--top {
  margin: 1rem 2rem;
}

.footer__bottom__contact .footer__contact--top ul li {
  color: #192227;
  list-style: none;
}

.footer__bottom__contact .footer__contact--top ul li h1 {
  font-size: 3rem;
}

.footer__bottom__contact .footer__contact--top ul li p {
  font-size: 2rem;
}

.footer__bottom__contact .footer__contact--top ul li a {
  color: #192227;
  font-size: 2rem;
}

.footer__bottom__contact .footer__contact--bottom {
  margin: 1rem 2rem;
}

.footer__bottom__contact .footer__contact--bottom ul li {
  color: #192227;
  list-style: none;
}

.footer__bottom__contact .footer__contact--bottom ul li h1 {
  font-size: 3rem;
}

.footer__bottom__contact .footer__contact--bottom ul li p {
  font-size: 2rem;
}

.footer__bottom__contact .footer__contact--bottom ul li a {
  color: #192227;
  font-size: 2rem;
}

.footer__bottom__contact .footer__contact--email {
  text-align: center;
  border-top: 2px solid #19222733;
  border-bottom: 2px solid #19222733;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}

.footer__bottom__contact .footer__contact--email a {
  color: #192227;
}

.footer__bottom .footer__contact--logo {
  grid-area: row-start-2 / col-start-1 / row-end-2 / -1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

@media (width <= 768px) {
  .footer__bottom .footer__contact--logo {
    grid-row: row-start-3 / row-end-3;
  }
}

.footer__bottom .footer__contact--logo img {
  width: 10rem;
}

@media (width <= 768px) {
  .footer__bottom .footer__contact--logo img {
    width: 5rem;
  }
}

.footer__bottom .footer__contact--logo .footer__logo--gdsc {
  width: 20rem !important;
}

@media (width <= 768px) {
  .footer__bottom .footer__contact--logo .footer__logo--gdsc {
    width: 10rem !important;
  }
}

.preloader {
  z-index: 1004;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  display: flex;
  position: fixed;
  overflow: hidden;
}

.preloader__left {
  background-color: #ff4500;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.preloader__left img {
  position: absolute;
  right: 0;
  transform: translateX(50%);
}

@media (width <= 768px) {
  .preloader__left img {
    aspect-ratio: 2;
    width: 40rem;
  }
}

.preloader__right {
  background-color: #ff4500;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.preloader__right img {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

@media (width <= 768px) {
  .preloader__right img {
    aspect-ratio: 2;
    width: 40rem;
  }
}

.event {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 15rem;
  display: flex;
  position: relative;
}

@media (width <= 768px) {
  .event {
    box-sizing: border-box;
    padding: 15rem 3rem;
  }
}

.event__carousel {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.event__carousel__card {
  z-index: -1;
  width: 30rem;
  position: absolute;
}

.event__carousel__container {
  grid-gap: 3rem;
  grid-template-rows: repeat(4, 40rem);
  grid-template-columns: repeat(3, 40rem);
  width: 100%;
  display: grid;
}

@media (width <= 768px) {
  .event__carousel__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    width: 100%;
    display: flex;
  }
}

.event__carousel__slide {
  cursor: pointer;
  width: 30rem;
  position: relative;
}

.event__carousel__slide h1 {
  -webkit-user-select: none;
  user-select: none;
  font-size: 2.1rem;
  position: absolute;
  top: 1rem;
  left: 3.5rem;
}

@media (width <= 768px) {
  .event__carousel__slide h1 {
    width: 100%;
    font-size: 2rem;
    left: 3rem;
  }
}

.event__carousel__slide .event__carousel__poster {
  aspect-ratio: 1;
  width: 25rem;
  position: relative;
  top: 5rem;
  left: 3rem;
}

.event__carousel__slide p {
  text-align: left;
  text-wrap: wrap;
  -webkit-user-select: none;
  user-select: none;
  width: 25rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3rem;
  left: 4rem;
}

@media (width <= 768px) {
  .event__carousel__slide p {
    bottom: -12rem;
    left: 3rem;
  }
}

.event__side-container {
  text-align: center;
  z-index: 995;
  position: fixed;
  top: 7rem;
  left: 0;
}

@media (width <= 768px) {
  .event__side-container {
    top: 5rem;
  }

  .event__side-container img {
    width: 40rem;
  }
}

.event__side-container h3 {
  font-size: 5rem;
  position: absolute;
  top: 3rem;
  left: 50%;
}

@media (width <= 768px) {
  .event__side-container h3 {
    font-size: 3rem;
    top: 3rem;
  }
}

.popup__container {
  z-index: 1001;
  color: #0d0c0c;
  background-color: #f2f2f2;
  border-radius: 1rem;
  width: 80vw;
  height: 90vh;
  padding: 5rem 7rem;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

@media (width <= 768px) {
  .popup__container {
    width: 90vw;
    padding: 5rem 1rem;
  }
}

.popup__container__close {
  aspect-ratio: 1;
  cursor: pointer;
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 3rem;
}

@media (width <= 1024px) {
  .popup__container__close {
    top: 3rem;
  }
}

@media (width <= 768px) {
  .popup__container__close {
    top: 4rem;
  }
}

.popup__container .popup__side {
  width: 10rem;
  position: absolute;
  top: 0;
  left: -2rem;
}

@media (width <= 768px) {
  .popup__container .popup__side {
    display: none;
  }
}

.popup__container h1 {
  font-family: nockenSemiBold;
  font-size: 5rem;
}

@media (width <= 768px) {
  .popup__container h1 {
    font-size: 3rem;
  }
}

.popup__container .popup__content {
  grid-template-rows: [row-start-1] 1fr[row-end-1];
  grid-template-columns: [col-start-1] 2fr[col-end-1 col-start-1] 1fr[col-end-2];
  column-gap: 2rem;
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  transition: all .3s;
  display: grid;
  overflow: scroll;
}

@media (width <= 768px) {
  .popup__container .popup__content {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.popup__container .popup__content img {
  aspect-ratio: 1;
  object-fit: cover;
  grid-area: row-start-1 / col-start-1 / row-end-1 / col-end-1;
  width: 100%;
}

.popup__container .popup__content--text {
  text-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  display: flex;
}

.popup__container .popup__content--text a button {
  cursor: pointer;
  background-color: #f2be22;
  border: 1px solid #0d0c0c;
  width: 20rem;
  padding: 2rem;
}

@media (width <= 768px) {
  .popup__container .popup__content--text ul {
    padding-left: 2rem;
  }

  .popup__container .popup__content--text {
    padding-top: 1rem;
    font-size: 2.25rem;
  }
}

@media (width <= 1024px) {
  .popup__container .popup__content--text {
    width: 100%;
  }
}

.popup__background {
  z-index: 1000;
  background-color: #1e1e1e;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 200vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  transition: all .3s;
  display: none;
}

.scene_element--fadeinleft {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes fadeInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: none;
  }
}

#about {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  position: relative;
}

.panel {
  position: absolute;
}

.about__first {
  align-items: center;
  display: flex;
  position: relative;
}

.about__first__content {
  color: #f2be22;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100rem;
  height: 80rem;
  padding: 3rem;
  display: flex;
}

@media (width <= 768px) {
  .about__first__content {
    justify-content: space-evenly;
    width: 100%;
  }
}

.about__first__content p {
  padding-bottom: 1rem;
  font-size: 3rem;
}

@media (width <= 768px) {
  .about__first__content p {
    padding-bottom: .5rem;
    font-size: 2rem;
  }
}

.about__first__content h1 {
  color: #f2f2f2;
  padding-bottom: 1rem;
}

.about__first img {
  z-index: -1;
  filter: brightness(30%) blur(1.5px);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width <= 768px) {
  .about__first {
    width: 100%;
    height: 100%;
  }
}

.about__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.about__box--1 {
  background-color: #0d0c0c;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.about__box--1 h1 {
  color: #f2be22;
  font-size: 4rem;
}

@media (width <= 768px) {
  .about__box--1 {
    width: 100%;
    height: 100%;
  }
}

.about__box--2 {
  background-color: #3455f7;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.about__box--2 h1 {
  color: #f2be22;
  font-size: 4rem;
}

@media (width <= 1024px) {
  .about__box--2 h1 {
    font-size: 3rem;
  }
}

@media (width <= 768px) {
  .about__box--2 h1 {
    font-size: 2rem;
  }

  .about__box--2 {
    width: 100%;
    height: 100%;
  }
}

.about__box--3 {
  background-color: #d92525;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.about__box--3 h1 {
  color: #f2be22;
  font-size: 4rem;
}

@media (width <= 1024px) {
  .about__box--3 h1 {
    font-size: 3rem;
  }
}

@media (width <= 768px) {
  .about__box--3 h1 {
    font-size: 2rem;
  }

  .about__box--3 {
    width: 100%;
    height: 100%;
  }
}

.about__container__content {
  padding-top: 1rem;
}

.about__container__content p {
  font-size: 3rem;
}

@media (width <= 1024px) {
  .about__container__content p {
    font-size: 3rem;
  }
}

@media (width <= 768px) {
  .about__container__content p {
    font-size: 1.5rem;
  }
}

.register {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.register div {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.problem-statements {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

td > details > p {
  color: #f2be22;
  margin-top: 1rem;
  font-size: 2rem;
}

@media (width <= 768px) {
  td > details > p {
    font-size: 1rem;
  }
}

td > a {
  color: #111;
  background: #f2be22;
  padding: .6rem 2rem;
  font-size: 2rem;
}

table {
  border: 1px solid #f2f2f2;
  width: 80%;
  height: 50%;
  overflow: hidden;
}

th, td {
  color: #f4f4f4;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #f2f2f2;
  font-family: nocken;
  font-size: 2rem;
}

@media (width <= 768px) {
  th, td {
    font-size: 1.7rem;
  }
}

td button {
  color: var(--main);
  cursor: pointer;
  background-color: #0000;
  border: 2px solid #f2f2f2;
  padding: 10px 20px;
  transition: all .4s;
}

td button:hover {
  background-color: var(--main);
  color: green;
  cursor: pointer;
}

th {
  color: #111;
  background-color: #f2be22;
}

@media (width <= 768px) {
  th {
    font-size: 1.5rem;
  }
}

tr:hover {
  background-color: #0000001a;
}

.faq {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bg--img {
  z-index: -1;
  object-fit: cover;
  filter: brightness(45%);
  position: absolute;
}

@media (width <= 768px) {
  .bg--img {
    aspect-ratio: 1 / 10;
    width: 100%;
    height: auto;
  }
}

.event--heading {
  font-size: 3rem;
}

.question--area {
  width: 100%;
  height: 100%;
  padding-top: 15rem;
}

.question--area > span {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffff1a;
  border: 1px solid #f2be2252;
  border-radius: 10px;
  flex-direction: column;
  margin-block: 30px;
  padding: 30px 50px;
  display: flex;
}

.question--area p {
  text-transform: lowercase;
  color: #f2be22;
  font-size: 2rem;
  line-height: 24px;
}

/*# sourceMappingURL=index.8d8029cf.css.map */
